*{
    font-family: Verdana;
    margin: 0px;
}

#baner, #stopka{
    background-color: #4682b4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
    
}

#lewy{
    background-color: #40e0d0;
    width: 40%;
    height: 500px;
    float: left;
}

#prawy{
    background-color: #40e0d0;
    width: 60%;
    height: 500px;
    float: left;
}

img{
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}